@import '../../node_modules/bulma/bulma.sass';

$input-focus-border-color: $input-hover-border-color;
$input-focus-box-shadow-size: 0 0 0 0;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-switch/switch.sass';
